---
import CmScala from "./cm-scala";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Mirror Scala</title>
    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <CmScala client:idle />
  </body>
</html>
